.macbutton, 
.waterbutton,
.honeybutton {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    font-family: 'Times New Roman', Times, serif
}

.macbutton {
    background-color: rgb(221, 221, 60);
}

.waterbutton {
    background-color: rgb(105, 212, 105);
}

.honeybutton {
    background-color: azure;
}

html {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: Georgia, Times New Roman, Times, sans-serif;
}
