html {
    background-color: blanchedalmond;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, sans-serif;
}

ul {
    background-color: burlywood;
}

ol {
    background-color: rgb(173, 108, 27);
    color: white;
}
